<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            <div class="about_page">
            <h3> About this Application </h3>
            <p> This application is a simple Blog Application in which we are performing CURD
            operations. Using this application, you can able to create / edit / update / delete 
            blog post. This project is going to part of APM Testing Project in which we have to
            check user's action</p>
            </div>
        </div>
    </div>
</div>